<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Trace"
	  internalLogFile="C:\Users\Decagon\Desktop\E-Wallet_decadev\E-Wallet-App\E-Wallet-App.csproj\logs\internal_logs\internallog.txt">
	<targets>
		<target name="Walletfile" xsi:type="File"
				fileName="C:\Users\Decagon\Desktop\E-Wallet_decadev\E-Wallet-App\E-Wallet-App.csproj\logs\${shortdate} _walletErrorLog.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="Walletfile" />
	</rules>
</nlog>